// out: false

header {
	background-color: @primary-bg;
	border-radius: 5px 5px 0 0;
	display: flex;
	flex-direction: column;
	gap: @md-gap;
	padding: @md-gap @big-gap;

	.header {
		align-items: center;
		display: flex;
		justify-content: space-between;
		width: 100%;

		& > span {
			flex-basis: 33%;

			&.date {
				align-items: center;
				display: flex;
				gap: 20px;
				justify-content: center;
				position: relative;
				text-decoration: underline;

				& .date-in-game:hover {
					cursor: @pointer;
				}

				.wiki_link {
					height: fit-content;
				}
			}

			&.game-time {
				align-items: center;
				display: flex;
				gap: @small-gap;
				justify-content: flex-end;
			}
		}

		& > span:first-of-type {
			align-items: flex-end;
			display: flex;
			gap: @md-gap;
		}

		img {
			&.player_gender_logo {
				height: @md-icon;
			}

			&:not(.player_gender_logo) {
				width: @md-icon;
			}
		}
	}

	.sub-header {
		align-items: flex-end;
		display: flex;
		justify-content: space-between;
		width: 100%;
		
		& > span {
			& > span {
				min-width: fit-content;
			}
		}

		.all-money {
			display: flex;
			gap: @bigger-gap;
			
			img {
				height: @xsmall-icon;
			}
		}

		.perfection-stats {
			display: flex;
			gap: @bigger-gap;

			img {
				height: @md-icon;
			}
		}
	}
}