// out: false

@media (min-width: @desktop-breakpoint) {
	// Gallery items
	._50 {
		flex-basis: 47.5%;
	}

	._100 {
		flex-basis: 100%;
	}

	body {
		main {
			.first-gallery {
				.intra-gallery {
					order: 1;
				}

				.friends-section {
					order: 2;
				}
			}

			.characters {
				flex-direction: row;
			}
		}
	}
}

@media (max-width: @desktop-breakpoint) {
	// Gallery items
	._50, ._100 {
		flex-basis: 100%;
	}
	
	.hidden {
		display: none !important;
	}

	body {
		header {
			.player {
				.player-name {
					.farmer-level {
						display: none;
					}
				}
			}
		}

		main {
			.first-gallery {
				.intra-gallery {
					order: 2;
				}

				.friends-section {
					order: 1;
				}
			}

			.characters {
				flex-direction: column;
			}
		}
	}
}